@import "bootstrap.custom.less";

table.table {
	.glyphicon {
		cursor: default;
		font-size: 120%;
	}
	.glyphicon-ok-sign,
	.glyphicon-circle-arrow-right {
		color: green;
	}
	.glyphicon-remove-sign,
	.glyphicon-circle-arrow-left,
	.glyphicon-question-sign {
		color: red;
	}
	span.debug {
		color: #999;
		font-size: 80%;
	}
	span.na {
		color: #999;
		font-size: 80%;
	}
	td:last-child {
		span.debug {
			color: red;
			font-size: inherit;
		}
	}
}